# Process: variables for running the checks over the catalogue
DATABASE_URL=
COPERNICUSMARINE_USERNAME=
COPERNICUSMARINE_PASSWORD=

# Deploy: variables for the deployment of the process in EDITO
EDITO_PROJECT=
EDITO_USERNAME=
EDITO_PASSWORD=
EDITO_CLIENT_ID=