# Process: variables for running the checks over the catalogue
DATABASE_URL=
COPERNICUSMARINE_SERVICE_USERNAME=
COPERNICUSMARINE_SERVICE_PASSWORD=

# Deploy: variables for the deployment of the process in EDITO
EDITO_PROJECT=
EDITO_USERNAME=
EDITO_PASSWORD=
EDITO_CLIENT_ID=

#Communication: Variables for communicating data (Posting the website and sending email)
EMAIL_PASSWORD=
